h1{
	font-size: 28px;
	color:#3388BB;
	text-transform: uppercase;
	border-bottom: 3px solid #3388DD;
	text-align: center;
}
.page{
	width: 780px;
	margin: auto;
	font-size: 20px;
	font-family:  'Source sans Pro', Calibri, Tahoma ,sans-serif;
	border: 5px solid #3388CC;
	border-radius: 10px;
	box-shadow: 2px 4px 3px black;
	background-color: #ffffff;
	padding: 40px;

}

.Infphoto{
	height: 250px;

}

.info{
	float: left;
	

}
.photo{
	float: right;
}

.section{
	font-size: 20px;
	font-weight: bold;

}
body{
	color: black;
	background-color: #cccc;
	background-image: url(zlatan/zlatan.jpg);
	background-repeat: no-repeat;

}
img{
	box-shadow: 8px 8px 0px #aaa;
}
.section:hover{
	color: #00AA00;
}
